@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 15px;
}

.container {
  width: 100%;
  height: calc(100dvh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 85, 85);
  padding: 20px;
  z-index: 1;
}

.banner-actions {
  position: absolute;
  right: 0px;
}

.banner-link {
  color: white;
  padding-right: 20px;
}

.link {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 0.7s;
}

.link:hover {
  background-color: white;
  color: #212121
}
